In [9]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Users/MODAN MOHAN MANNA/Downloads/insurance.csv")
df.head()

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category
0,67,119.8,1.56,2.92,False,Jaipur,retired,High
1,36,101.1,1.83,34.28,False,Chennai,freelancer,Low
2,39,56.8,1.64,36.64,False,Indore,freelancer,Low
3,22,109.4,1.55,3.34,True,Mumbai,student,Medium
4,69,62.2,1.60,3.94,True,Indore,retired,High

In [ ]:
#feature  engineering
#1. we will combine weight and height to create a new feature bmi
#2. we will make some sge group
#3. we will combine the bmi and smoker to create a new feature lifestyle_risk
#4. we will make some city tier

In [10]:
df["bmi"]=df["weight"]/(df["height"]**2)
df.drop(["height","weight"],inplace=True,axis="columns")
df

,age,income_lpa,smoker,city,occupation,insurance_premium_category,bmi
0,67,2.92000,False,Jaipur,retired,High,49.227482
1,36,34.28000,False,Chennai,freelancer,Low,30.189017
2,39,36.64000,False,Indore,freelancer,Low,21.118382
3,22,3.34000,True,Mumbai,student,Medium,45.535900
4,69,3.94000,True,Indore,retired,High,24.296875
...,...,...,...,...,...,...,...
95,36,19.64000,False,Indore,business_owner,Low,21.420747
96,26,34.01000,False,Delhi,private_job,Low,47.984483
97,52,44.86000,False,Hyderabad,freelancer,Low,18.765432
98,27,28.30000,False,Kolkata,business_owner,Low,30.521676
99,40,28.16664,True,Bangalore,government_job,Low,27.688778

In [14]:
df["age_group"]=df["age"].apply(
    lambda age:"young" if age < 25 else
    "adult" if age < 45 else 
    "middle_aged" if age < 60 else
    "senior")
df

,age,income_lpa,smoker,city,occupation,insurance_premium_category,bmi,age_group
0,67,2.92000,False,Jaipur,retired,High,49.227482,senior
1,36,34.28000,False,Chennai,freelancer,Low,30.189017,adult
2,39,36.64000,False,Indore,freelancer,Low,21.118382,adult
3,22,3.34000,True,Mumbai,student,Medium,45.535900,young
4,69,3.94000,True,Indore,retired,High,24.296875,senior
...,...,...,...,...,...,...,...,...
95,36,19.64000,False,Indore,business_owner,Low,21.420747,adult
96,26,34.01000,False,Delhi,private_job,Low,47.984483,adult
97,52,44.86000,False,Hyderabad,freelancer,Low,18.765432,middle_aged
98,27,28.30000,False,Kolkata,business_owner,Low,30.521676,adult
99,40,28.16664,True,Bangalore,government_job,Low,27.688778,adult

In [15]:
df["lifestyle_risk"]=df.apply(
    lambda row:(
    "high" if row["smoker"] and row["bmi"] > 30  else
    "medium" if row["smoker"] and row["bmi"] > 27 else
    "low"
    ),
    axis="columns" 
)
df

,age,income_lpa,smoker,city,occupation,insurance_premium_category,bmi,age_group,lifestyle_risk
0,67,2.92000,False,Jaipur,retired,High,49.227482,senior,low
1,36,34.28000,False,Chennai,freelancer,Low,30.189017,adult,low
2,39,36.64000,False,Indore,freelancer,Low,21.118382,adult,low
3,22,3.34000,True,Mumbai,student,Medium,45.535900,young,high
4,69,3.94000,True,Indore,retired,High,24.296875,senior,low
...,...,...,...,...,...,...,...,...,...
95,36,19.64000,False,Indore,business_owner,Low,21.420747,adult,low
96,26,34.01000,False,Delhi,private_job,Low,47.984483,adult,low
97,52,44.86000,False,Hyderabad,freelancer,Low,18.765432,middle_aged,low
98,27,28.30000,False,Kolkata,business_owner,Low,30.521676,adult,low
99,40,28.16664,True,Bangalore,government_job,Low,27.688778,adult,medium

In [17]:
tier_1_cities = ["Mumbai", "Delhi", "Bangalore", "Chennai", "Kolkata", "Hyderabad", "Pune"]

tier_2_cities = [
    "Jaipur", "Chandigarh", "Indore", "Lucknow", "Patna", "Ranchi", "Visakhapatnam", "Coimbatore",
    "Bhopal", "Nagpur", "Vadodara", "Surat", "Rajkot", "Jodhpur", "Raipur", "Amritsar", "Varanasi",
    "Agra", "Dehradun", "Mysore", "Jabalpur", "Guwahati", "Thiruvananthapuram", "Ludhiana", "Nashik",
    "Allahabad", "Udaipur", "Aurangabad", "Hubli", "Belgaum", "Salem", "Vijayawada", "Tiruchirappalli",
    "Bhavnagar", "Gwalior", "Dhanbad", "Bareilly", "Aligarh", "Gaya", "Kozhikode", "Warangal",
    "Kolhapur", "Bilaspur", "Jalandhar", "Noida", "Guntur", "Asansol", "Siliguri"
]

# Assign tier to each city
df['city_tier'] = df['city'].apply(
    lambda x:  1 if x in tier_1_cities else
              2 if x in tier_2_cities else
               3
)
df

,age,income_lpa,smoker,city,occupation,insurance_premium_category,bmi,age_group,lifestyle_risk,city_tier
0,67,2.92000,False,Jaipur,retired,High,49.227482,senior,low,2
1,36,34.28000,False,Chennai,freelancer,Low,30.189017,adult,low,1
2,39,36.64000,False,Indore,freelancer,Low,21.118382,adult,low,2
3,22,3.34000,True,Mumbai,student,Medium,45.535900,young,high,1
4,69,3.94000,True,Indore,retired,High,24.296875,senior,low,2
...,...,...,...,...,...,...,...,...,...,...
95,36,19.64000,False,Indore,business_owner,Low,21.420747,adult,low,2
96,26,34.01000,False,Delhi,private_job,Low,47.984483,adult,low,1
97,52,44.86000,False,Hyderabad,freelancer,Low,18.765432,middle_aged,low,1
98,27,28.30000,False,Kolkata,business_owner,Low,30.521676,adult,low,1
99,40,28.16664,True,Bangalore,government_job,Low,27.688778,adult,medium,1

In [20]:
df.drop(["city","smoker","age"],inplace=True,axis="columns")
df

,income_lpa,occupation,insurance_premium_category,bmi,age_group,lifestyle_risk,city_tier
0,2.92000,retired,High,49.227482,senior,low,2
1,34.28000,freelancer,Low,30.189017,adult,low,1
2,36.64000,freelancer,Low,21.118382,adult,low,2
3,3.34000,student,Medium,45.535900,young,high,1
4,3.94000,retired,High,24.296875,senior,low,2
...,...,...,...,...,...,...,...
95,19.64000,business_owner,Low,21.420747,adult,low,2
96,34.01000,private_job,Low,47.984483,adult,low,1
97,44.86000,freelancer,Low,18.765432,middle_aged,low,1
98,28.30000,business_owner,Low,30.521676,adult,low,1
99,28.16664,government_job,Low,27.688778,adult,medium,1

In [22]:
x=df.drop(["insurance_premium_category"],axis="columns")
x,x.shape

(    income_lpa      occupation        bmi    age_group lifestyle_risk  \
 0      2.92000         retired  49.227482       senior            low
 1     34.28000      freelancer  30.189017        adult            low
 2     36.64000      freelancer  21.118382        adult            low
 3      3.34000         student  45.535900        young           high
 4      3.94000         retired  24.296875       senior            low
 ..         ...             ...        ...          ...            ...
 95    19.64000  business_owner  21.420747        adult            low
 96    34.01000     private_job  47.984483        adult            low
 97    44.86000      freelancer  18.765432  middle_aged            low
 98    28.30000  business_owner  30.521676        adult            low
 99    28.16664  government_job  27.688778        adult         medium

     city_tier
 0           2
 1           1
 2           2
 3           1
 4           2
 ..        ...
 95          2
 96          1
 97          1
 98          1
 99          1

 [100 rows x 6 columns],
 (100, 6))

In [34]:
y=df["insurance_premium_category"]
y,y.shape

(0       High
 1        Low
 2        Low
 3     Medium
 4       High
        ...
 95       Low
 96       Low
 97       Low
 98       Low
 99       Low
 Name: insurance_premium_category, Length: 100, dtype: object,
 (100,))

In [35]:
c_col=[]
numeric_col=[]
for col in x.columns:
    if df[col].dtype == "object":
        c_col.append(col)
    else:
        numeric_col.append(col)

In [36]:
c_col,len(c_col)

(['occupation', 'age_group', 'lifestyle_risk'], 3)

In [37]:
numeric_col,len(numeric_col)

(['income_lpa', 'bmi', 'city_tier'], 3)

In [30]:
df.isna().sum()

income_lpa                    0
occupation                    0
insurance_premium_category    0
bmi                           0
age_group                     0
lifestyle_risk                0
city_tier                     0
dtype: int64

In [32]:
for col in c_col:
    print("{}\nunique value:{}\nvalue counts:{}\n".format(col,df[col].unique(),df[col].value_counts()))

occupation
unique value:['retired' 'freelancer' 'student' 'government_job' 'business_owner'
 'unemployed' 'private_job']
value counts:occupation
retired           26
unemployed        15
government_job    14
student           12
freelancer        11
business_owner    11
private_job       11
Name: count, dtype: int64

insurance_premium_category
unique value:['High' 'Low' 'Medium']
value counts:insurance_premium_category
Low       34
High      33
Medium    33
Name: count, dtype: int64

age_group
unique value:['senior' 'adult' 'young' 'middle_aged']
value counts:age_group
adult          34
senior         27
middle_aged    27
young          12
Name: count, dtype: int64

lifestyle_risk
unique value:['low' 'high' 'medium']
value counts:lifestyle_risk
low       73
high      20
medium     7
Name: count, dtype: int64

In [38]:
x

,income_lpa,occupation,bmi,age_group,lifestyle_risk,city_tier
0,2.92000,retired,49.227482,senior,low,2
1,34.28000,freelancer,30.189017,adult,low,1
2,36.64000,freelancer,21.118382,adult,low,2
3,3.34000,student,45.535900,young,high,1
4,3.94000,retired,24.296875,senior,low,2
...,...,...,...,...,...,...
95,19.64000,business_owner,21.420747,adult,low,2
96,34.01000,private_job,47.984483,adult,low,1
97,44.86000,freelancer,18.765432,middle_aged,low,1
98,28.30000,business_owner,30.521676,adult,low,1
99,28.16664,government_job,27.688778,adult,medium,1

In [39]:
y

0       High
1        Low
2        Low
3     Medium
4       High
       ...
95       Low
96       Low
97       Low
98       Low
99       Low
Name: insurance_premium_category, Length: 100, dtype: object

In [45]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
y = enc.fit_transform(df[['insurance_premium_category']]).ravel()
y.shape,y

((100,),
 array([2., 0., 0., 1., 2., 1., 1., 1., 1., 0., 1., 0., 2., 0., 1., 1., 1.,
        1., 2., 2., 1., 2., 0., 1., 1., 0., 1., 1., 0., 2., 0., 1., 1., 1.,
        2., 1., 1., 1., 2., 2., 1., 1., 1., 1., 1., 2., 2., 1., 1., 1., 1.,
        2., 1., 1., 2., 0., 1., 2., 2., 2., 2., 2., 0., 2., 2., 2., 0., 0.,
        0., 0., 2., 0., 2., 2., 2., 0., 2., 2., 2., 0., 2., 2., 0., 2., 2.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]))

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [47]:
x_train.shape,x_test.shape

((80, 6), (20, 6))

In [48]:
from sklearn.preprocessing import OneHotEncoder as ohe,StandardScaler as sc
from sklearn.compose import ColumnTransformer as clf
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

In [56]:
pipeline=Pipeline(steps=[
    ("preprocessing",clf(
        transformers=[
            ("categorical",ohe(drop="first"),c_col),
            ("numeric",sc(),numeric_col)
        ]
    )),
    ("model",RandomForestClassifier(class_weight='balanced', random_state=42))
])

In [57]:
pipeline.fit(x_train,y_train)

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('categorical',
                                                  OneHotEncoder(drop='first'),
                                                  ['occupation', 'age_group',
                                                   'lifestyle_risk']),
                                                 ('numeric', StandardScaler(),
                                                  ['income_lpa', 'bmi',
                                                   'city_tier'])])),
                ('model',
                 RandomForestClassifier(class_weight='balanced',
                                        random_state=42))])

In [58]:
from sklearn.metrics import accuracy_score,classification_report

In [59]:
y_pred=pipeline.predict(x_test)
accuracy_score(y_test,y_pred)

0.7

In [60]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.43      1.00      0.60         3
         1.0       0.75      0.43      0.55         7
         2.0       0.89      0.80      0.84        10

    accuracy                           0.70        20
   macro avg       0.69      0.74      0.66        20
weighted avg       0.77      0.70      0.70        20

In [61]:
import pickle
model_path="model.pkl"
with open(model_path,"wb") as file:
    pickle.dump(pipeline,file)